
/* Defines global CSS variables for color */
:root {
  --clr-orange: 30 70% 65%;
  --clr-red: 10 85% 65%;
  --clr-silver: 230 10% 80%;
  --clr-white: 40 100% 100%;
  --clr-dark-blue: 240 100% 5%;
  --clr-metal: 230 15% 40%;
}
/* Global Styles*/
body {
  margin: unset;

  font: 400 15px/1.5 Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-metal));
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

p,
h1,
h2,
h3,
figure,
ul,
ol {
  margin: unset;
}

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 800;

  color: hsl(var(--clr-dark-blue));
}

ol,
ul {
  padding-left: unset;

  list-style-type: none;
}
/* Applies styles to the section containing bottom articles */
.bottom-articles {
  display: grid; 
  grid-auto-columns: 1fr; /* Columns automatically take up equal space */
  gap: 2rem; 
  margin-bottom: 8rem; 
}


@media (width > 55rem) {
  /* Adjust grid layout for wider viewports */
  .bottom-articles {
    grid-auto-flow: column; 
  }
}

@media (width < 55rem) {
  /* Adjust grid layout for narrower viewports */
  .bottom-articles {
    grid-template-columns: repeat(2, 1fr); 
    margin-bottom: 4rem; 
  }
}

@media (width < 40rem) {
  /* Adjust grid layout for small viewports */
  .bottom-articles {
    grid-template-columns: 1fr; 
  }
}

/* Link Styles Inside Bottom Articles */
.bottom-articles a {
  display: grid; 
  grid-template-columns: 6rem 1fr; 
  gap: 1rem; 
}

/* Hover and Focus Styles for Link Headings */
.bottom-articles a:where(:hover, :focus-visible) h2 {
  color: hsl(var(--clr-red)); 
}

/* Focus Styles for Links */
.bottom-articles a:focus-visible {
  outline: 2px solid hsl(var(--clr-red)); 
  outline-offset: 5px; 
}

/* Heading Styles Inside Bottom Articles */
.bottom-articles h2 {
  margin-bottom: 1rem; 
}

/* Pseudo-element Styles for Headings */
.bottom-articles h2::before {
  display: block; 
  margin-bottom: 1rem; 
  font-size: 32px; 
  color: hsl(var(--clr-silver)); /
}


  /*classes*/
  .h1 {
    font-size: 50px;
  }
  
  .h2 {
    font-size: 20px;
  }
  
  .h3 {
    font-size: 18px;
  }
  
  .container {
    max-width: 70rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding-inline: 2rem;
  
    background-color: hsl(var(--clr-red));
    color: hsl(var(--clr-white));
  
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 5px;
  }
  /* Hover and Focus Styles for Buttons */
  .button:where(:hover, :focus-visible) {
    background-color: hsl(var(--clr-dark-blue));
  }
  
  /*font style*/
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    src: url(../fonts/Iter-VariableFont_slnt,wght.ttf);
  }
  /*hero-articles*/
  .hero-article {
    display: grid;
    grid-auto-rows: min-content;
    justify-items: start;
  }
  
  @media (width < 40rem) {
    /* Adjust grid layout for small viewports */
    .hero-article {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
  
  @media (width > 40rem) {
    .hero-article {
      /* Adjust grid layout for wider viewports */
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 2rem;
    }
  
    .hero-article figure {
      grid-column: 1 / 3;
    }
  
    .hero-article h1 {
      grid-row: 2 / 4;
    }
  }
  /*layout*/
  .main-layout {
    display: grid;
    gap: 4.375rem 1.875rem;
  }
  
  @media (width > 55rem) {
    .main-layout {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "hero hero sidebar"
        "articles articles articles";
    }
  
    .hero-article {
      grid-area: hero;
    }
  
    .main-sidebar {
      grid-area: sidebar;
    }
  
    .bottom-articles {
      grid-area: articles;
    }
  }
  
  @media (width < 55rem) {
    .main-layout {
      grid-template-columns: 1fr;
      grid-template-areas:
        "hero"
        "sidebar"
        "articles";
    }
  }
  /*main header*/
  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1.75rem 2rem;
  }
  
  @media (width > 40rem) {
    .main-header {
      margin-block: 5.5rem 3.5rem;
    }
  }
  /*main navigation*/
  .main-navigation ul {
    display: flex;
  }
  
  .main-navigation a {
    transition: color 0.1s linear;
  }
  /* Hover and Focus Styles for Navigation Links */
  .main-navigation a:where(:hover, :focus-visible) {
    color: hsl(var(--clr-orange));
  }
  /* Focus Styles for Navigation Links */
  .main-navigation a:focus-visible {
    outline: 2px solid hsl(var(--clr-orange));
    outline-offset: 2px;
  }
  
  @media (width > 40rem) {
    .menu-toggle {
      display: none;
    }
  
    .main-navigation ul {
      column-gap: 2.5rem;
    }
  }
  
  @media (width < 40rem) {
    .menu-toggle {
      position: relative;
      width: 2.5rem;
      aspect-ratio: 1;
  
      background: transparent url(../images/icon-menu.svg) no-repeat center; /* Background image */
  
      z-index: 1;
    }
  
    .menu-toggle:where(:hover, :focus-visible) {
      opacity: 0.4;
    }
  
    .menu-toggle:focus-visible {
      outline: 2px solid hsl(var(--clr-dark-blue));
      outline-offset: 2px;
    }
  /* Change background image */
    .menu-toggle.has-open-menu {
      background-image: url(../images/icon-menu-close.svg);
    }
  
    .main-navigation {
      position: fixed;
      inset: 0;
      background-color: hsl(var(--clr-dark-blue) / 0.5);
      opacity: 0;
      pointer-events: none;
    }
  
    .main-navigation ul {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      flex-direction: column;
      row-gap: 1.5rem;
      padding: 7rem 1.5rem 1.5rem;
      width: 16rem;
      background-color: hsl(var(--clr-white));
      color: hsl(var(--clr-dark-blue));
      font-size: 18px;
      transition: translate 0.15s ease-out;
      translate: 100% 0;
    }
  
    .main-navigation.is-open {
      opacity: 1;
      pointer-events: auto;
    }
  
    .main-navigation.is-open ul {
      translate: 0 0;
    }
  }
  /*main sidebar*/
.main-sidebar {
    padding: 2rem 1.5rem;
    background-color: hsl(var(--clr-dark-blue));
  }
  
  @media (width < 40rem) {
    .main-sidebar {
      padding: 1.5rem 1.25rem;
    }
  }
  
  .main-sidebar h2 {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 40px;
    color: hsl(var(--clr-orange));
  }
  
  .main-sidebar a {
    display: block;
    color: hsl(var(--clr-silver));
  }
  
  .main-sidebar article:not(:last-child) {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid hsl(var(--clr-metal));
  }
  
  .main-sidebar h3 {
    margin-bottom: 0.6rem;
    color: hsl(var(--clr-white));
    transition: color 0.1s linear;
  }
  
  .main-sidebar a:where(:hover, :focus-visible) h3 {
    color: hsl(var(--clr-orange));
  }
  
  .main-sidebar a:focus-visible {
    outline: 2px solid hsl(var(--clr-orange));
    outline-offset: 5px;
  }

